.navbar {
  background-color: hsla(0, 0%, 100%, 0);
}

.image {
  max-width: 50%;
  margin-top: 11px;
}

.brand {
  left: -213px;
  top: 0px;
  bottom: 0px;
  margin-left: 0px;
  float: left;
}

.section {
  height: 80vh;
  font-size: 16px;
}

.div-block {
  margin-top: -1%;
}

.heading {
  position: relative;
  margin-top: 13px;
  margin-bottom: 17px;
  font-family: Muli, sans-serif;
  font-size: 1.7em;
  font-weight: 800;
  text-align: center;
}

.heading-2 {
  position: relative;
  margin-top: 18px;
  margin-bottom: 18px;
  font-family: Muli, sans-serif;
  font-weight: 400;
  text-align: center;
}

.button {
  position: relative;
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: transparent;
  font-family: Muli, sans-serif;
  color: #000;
  text-align: center;
}

.heading-3 {
  display: inline-block;
  font-family: Muli, sans-serif;
  font-size: 1.7em;
  text-align: center;
}

.div-block-2 {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #000;
  color: #000;
}

.div-block-3 {
  display: block;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.section-2 {
  position: relative;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #e9e9e9;
}

.text-block {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Muli, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.text-block-2 {
  display: none;
  padding-top: 144px;
  font-family: Muli, sans-serif;
  font-size: 16px;
  text-align: center;
}

.text-block-3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Muli, sans-serif;
  font-size: 16px;
  text-align: center;
}

.text-block-4 {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Muli, sans-serif;
  font-size: 16px;
  text-align: center;
}

.div-block-4 {
  margin-top: 47px;
}

.heading-4 {
  display: none;
  margin-top: 0px;
  margin-bottom: 3px;
  font-family: Muli, sans-serif;
  color: #dd4d3a;
  font-size: 2em;
  font-weight: 900;
  text-align: center;
}

.div-block-5 {
  display: none;
  width: 80%;
  height: 3px;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  background-color: #b8b5b5;
}

.heading-5 {
  display: none;
  margin-top: -5px;
  font-family: Muli, sans-serif;
  font-size: 16px;
  text-align: center;
}

.div-block-6 {
  margin-top: 56px;
}

.heading-6 {
  margin-top: 11px;
  margin-right: 17px;
  margin-left: 17px;
  font-family: Muli, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
}

.div-block-7 {
  display: block;
  width: 50%;
  height: 50%;
  margin-right: auto;
  margin-left: auto;
}

.html-embed {
  display: block;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}

.row {
  display: block;
  width: 70%;
  margin: 57px auto 56px;
}

.row._1 {
  display: none;
}

.div-block-8 {
  margin-top: 20px;
}

.heading-7 {
  margin-top: 37px;
  background-color: transparent;
  font-family: Muli, sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.heading-8 {
  display: none;
  margin-bottom: 0px;
  font-family: Muli, sans-serif;
  font-size: 25px;
  font-weight: 200;
  text-align: center;
}

.image-2 {
  margin-right: 0px;
  padding: 0px;
  box-shadow: 1px 1px 8px -3px #000;
}

.text-block-5 {
  width: 50%;
  margin-top: 49px;
  padding-left: 19px;
  float: left;
  font-family: Muli, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.textright {
  display: block;
  width: 60%;
  margin-top: 49px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  font-family: Muli, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
}

.row-2 {
  margin-top: 24px;
}

.column {
  padding-right: 0px;
}

.column-2 {
  padding-left: 0px;
}

.column-3 {
  padding-right: 0px;
}

.row-3 {
  margin-top: 41px;
}

.html-embed-2 {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 0;
  display: inline-block;
  margin-top: 31px;
  margin-right: 46px;
}

.html-embed-3 {
  position: fixed;
  margin-top: 206px;
  margin-left: 127px;
}

.html-embed-4 {
  position: fixed;
  margin-top: 9%;
  margin-left: 276px;
}

.html-embed-5 {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 25%;
  margin-right: 34%;
  margin-left: 50%;
  padding-right: 1px;
}

.html-embed-6 {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 34%;
  margin-right: 10%;
}

.html-embed-7 {
  position: fixed;
  margin-top: 36%;
  margin-left: 23%;
}

.image-3 {
  box-shadow: 1px 1px 3px 0 #000;
}

.image-4 {
  box-shadow: 1px 1px 3px 0 #000;
}

.heading-9 {
  margin-top: 22px;
  padding-top: 38px;
  font-family: Muli, sans-serif;
  font-size: 30px;
  text-align: center;
}

.section-3 {
  position: relative;
  height: 60vh;
  margin-top: 22px;
  margin-bottom: 2px;
  padding-top: 7px;
  padding-bottom: 0px;
  background-color: #e9e9e9;
}

.row-4 {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.paragraph {
  display: block;
  width: 48%;
  margin-right: auto;
  margin-left: auto;
  font-family: Muli, sans-serif;
  font-size: 16px;
  text-align: center;
}

.text-block-6 {
  margin-top: 88px;
  margin-bottom: 7px;
  font-family: Muli, sans-serif;
  color: #dd4d3a;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.div-block-9 {
  margin-top: 14px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.form-block {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.text-field {
  position: relative;
  border-radius: 5px;
  background-color: #fdfdfd;
  box-shadow: 1px 1px 3px -5px #000;
}

.text-field-2 {
  position: relative;
  border-radius: 5px;
  background-color: #fdfdfd;
  box-shadow: 1px 1px 3px -8px #000;
}

.textarea {
  position: relative;
  min-height: 150px;
  border-radius: 5px;
  background-color: #fdfdfd;
  box-shadow: 1px 1px 3px -10px #000;
}

.form {
  margin-bottom: 73px;
}

.submit-button {
  position: relative;
  border-radius: 5px;
  background-color: #70aace;
  box-shadow: 1px 1px 7px -8px #000;
}

.div-block-10 {
  position: relative;
}

.image-5 {
  width: 170px;
  height: 90px;
}

.text-block-7 {
  margin-bottom: 36px;
  text-align: center;
}

.error-message {
  margin-top: -61px;
}

.testemonials {
  position: relative;
  display: none;
  margin-top: -4px;
  padding-top: 38px;
  padding-bottom: 54px;
  background-color: #dd4d3a;
}

.text-block-8 {
  margin-bottom: 34px;
  font-family: Muli, sans-serif;
  color: #f6dc6c;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.row-5 {
  margin-right: 209px;
  margin-left: 209px;
}

.paragraph-2 {
  padding-right: 356px;
  padding-left: 356px;
  float: left;
  font-family: Muli, sans-serif;
  color: #fff;
  font-weight: 200;
  text-align: left;
}

.text-block-9 {
  margin-right: 382px;
  margin-left: 382px;
  font-family: Muli, sans-serif;
  color: #fff;
  text-align: right;
}

.div-block-11 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.slide {
  padding-top: 1px;
  background-color: rgba(247, 143, 152, 0);
}

.slider {
  height: 40%;
  background-color: transparent;
}

.icon {
  margin-right: 38px;
}

.div-block-12 {
  margin-top: 20px;
}

.image-6 {
  max-width: 83px;
}

.heading-10 {
  font-family: Montserrat, sans-serif;
  color: #dd4d3a;
  font-size: 2.4em;
  text-align: center;
}

.div-block-13 {
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.html-embed-8 {
  display: block;
  width: 205px;
  margin-right: auto;
  margin-left: auto;
}

.div-block-14 {
  margin-top: 10%;
}

.navbar-2 {
  background-color: transparent;
  color: rgba(51, 51, 51, 0);
}

.toolbarbutton:hover {
  color: #1181b9;
}

.container {
  margin-right: 60.5px;
  padding-right: 0px;
}

