html {
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-left: 2rem;
  padding-right: 2rem;

  position: fixed;
  top: 0;

  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  z-index: 999;
}

nav ul {
  padding-left: 0;
}

nav ul li {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 2;

  font-weight: 800;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2;
}

a {
  text-decoration: none;
  color: gray;
}
a:visited {
  color: dark-gray;
}
a:hover {
  color: dark-gray;
}
.survey {
    font-size: 1rem;
    line-height: 5rem;
    text-decoration: underline;
}

.survey:hover {
    color: white;
}

.contact {
  text-align: center;
}
.section {
  padding: 4rem 20rem;
}

.section.full-height {
  /* min-height: 80vh; */
}

.section.dark {
  color: white;
  background-color: rgb(78, 68, 61);
}

.section.gray {
  background-color: rgb(189, 189, 189);
}

.section.light-gray {
  background-color: rgb(226, 226, 226);
}

.section.centered {
  text-align: center;
}

.section.offset-left {
  padding-left: 40%;
}

.section.you {
  background-image: url("../images/you.png");
  background-size: cover;
  background-position: left 0;

  padding-left: 40%;
  padding-top: 10rem;
}

.section.you p {
  font-weight: 800;
}

.section.about {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.section.about p {
  max-width: 80rem;
  margin: 0 auto;
}

.section.tools {
  padding-bottom: 0;
  overflow: hidden;
}

.logo__img {
  width: 60%;
}

.tools-editor {
  width: 100%;
  max-width: 80rem;
  position: relative;
  top: 1rem;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.resources {
  display: flex;
  justify-content: space-between;
}

.resources .image {
  width: 40%;
}

.resources-image {
  width: 100%;
}

.resources .text {
  width: 50%;
}

.community {
  display: flex;
  justify-content: space-between;
}

.community .image {
  width: 40%;
}

.community-image {
  width: 100%;
}

.community .text {
  width: 50%;
}

.center {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
}
input {
  background: #ffffff;
  box-shadow: none;
  border: none;
  padding: 0.5rem;
}

.input__button {
  background: gray;
}
@media screen and (max-width: 1400px) {
  .section.you {
    padding-left: 1rem;
    padding-right: 1rem;
    background-size: auto;
    background-position: top 0 right 0;
  }
}

@media screen and (max-width: 1200px) {
  nav {
    position: static;
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  nav ul {
    width: 100%;
  }

  nav ul li {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }

  nav .logo {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2;
  }

  .section {
    padding: 1rem;
  }

  .section.full-height {
    min-height: auto;
  }

  .section.you {
    padding-top: 1rem;
  }

  .resources {
    display: flex;
    flex-direction: column-reverse;
  }

  .resources .image {
    width: 60%;
    margin: 0 auto;
  }

  .resources .text {
    width: 100%;
    text-align: center;
  }

  .community {
    display: flex;
    flex-direction: column-reverse;
  }

  .community .image {
    width: 60%;
    margin: 0 auto;
  }

  .community .text {
    width: 100%;
    text-align: center;
  }
  .logo__img {
    width: 2rem;
  }
}
