body, html, h1, h2, h3, h4, ul, li, p {
  padding: 0;
  margin: 0; }

html, body {
  height: 100%; }

button {
  box-shadow: none;
  border: none; }

a, ul, li {
  text-decoration: none;
  list-style: none; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 95%;
  padding: 0 25%; }

h1, h2 {
  font-family: 'Oswald', sans-serif; }

a, p, h3, h4 {
  font-family: 'Roboto', sans-serif; }

.adv__container {
  background-color: #fefefe;
  display: flex;
  flex-direction: column; }

.adv__heading {
  text-align: center;
  padding: 2rem 0;
  text-transform: uppercase;
  color: #111111;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem; }
.adv__highlight {
  font-family: 'Oswald', sans-serif;
  display: block;
  font-size: 1rem;
  color: #111111; }
.adv__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4rem 0; }
.adv__item {
  width: 45%;
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  justify-content: space-between; }
.adv__text {
  display: flex;
  flex-direction: column; }
.adv__image {
  width: 100%; }
.adv__image-container {
  width: 30%; }
.adv__desc {
  width: 60%;
  color: #969696; }

.contact__container {
  background-color: #9b9b9b;
  display: flex;
  flex-direction: column; }

.contact__heading {
  text-align: left;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: 300;
  color: #fefefe; }

.contact__blurb {
  text-align: left;
  padding: 2rem 0;
  color: #fefefe; }

.contact-form__container {
  width: 70%;
  margin-right: 30%; }
.contact-form__block {
  display: flex;
  flex-direction: row;
  padding: 1rem 0; }
.contact-form__label {
  width: 30%;
  color: #ddd; }
.contact-form__input {
  width: 70%; }
.contact-form__message-input {
  height: 10rem; }
.contact-form__submit {
  width: 30%;
  margin-left: 30%;
  margin-top: 1rem;
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #969696;
  background-color: #fefefe;
  height: 3rem;
  box-shadow: none;
  border: none; }

.home__container {
  background-color: #fefefe; }

.home__text {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center; }
  .home__text-heading {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 300; }
  .home__text-tagline {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 1rem 0; }
  .home__text-desc {
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 1rem 0; }

.involve__container {
  background-color: #9b9b9b;
  display: flex;
  flex-direction: column; }

.involve__heading {
  justify-content: flex-start;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: 300;
  color: #fefefe;
  width: 100%; }

.involve__blurb {
  text-align: left;
  padding: 1rem 0;
  color: #fefefe; }

.involve__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0; }

.involve__item {
  width: 30%; }

.involve__button {
  width: 100%;
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #969696;
  background-color: #fefefe;
  height: 5rem; }

.mission__container {
  background-color: #fefefe; }

.mission__text {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center; }
  .mission__text-heading {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 300; }
  .mission__text-desc {
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 1rem 0; }

.nav {
  width: 100%;
  top: 1rem;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .nav__left {
    width: 5%;
    margin-left: 2%; }
  .nav__logo-image {
    width: 100%; }
  .nav__right {
    margin-right: 2%;
    width: 50%; }
  .nav__list {
    display: flex;
    list-style: none;
    justify-content: flex-end; }
  .nav__list-item {
    margin-left: 5%; }
  .nav__link {
    color: #969696;
    font-size: 1.2rem; }

.pitch__container {
  background-color: #79edd6;
  display: flex;
  flex-direction: column; }

.pitch__heading {
  text-align: center;
  padding: 2rem 0;
  text-transform: uppercase;
  color: #fefefe;
  font-family: 'Roboto',sans serif;
  font-size: 2rem; }

.pitch__video-container {
  width: 100%;
  padding: 2rem 0;
  background-color: #fefefe; }

.pitch__video {
  display: flex;
  max-width: 80%;
  margin: 0 auto; }

.pitch__features {
  width: 100%; }

.features__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }

.feature {
  width: 20%;
  padding: 2rem 0; }
  .feature__image {
    width: 100%;
    background-color: #fefefe;
    border-radius: 50%; }
  .feature__desc {
    text-align: center; }

.team__container {
  background-color: #79edd6;
  display: flex;
  flex-direction: column; }

.team__heading {
  text-align: center;
  padding: 2rem 0;
  text-transform: uppercase;
  color: #fefefe;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem; }

.team__members {
  width: 100%; }

.member__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }

.member {
  width: 25%;
  padding: 2rem 0; }
  .member__image {
    width: 100%;
    background-color: #fefefe;
    border-radius: 50%; }
  .member__name {
    text-align: center; }
  .member__title {
    text-align: center; }

/*# sourceMappingURL=app.css.map */
