body, html, h1, h2, h3, h4, ul, li, p {
  padding: 0;
  margin: 0; }

html, body {
  height: 100%; }

button {
  box-shadow: none;
  border: none; }

a, ul, li {
  text-decoration: none;
  list-style: none; }

.container {
  display: flex;
  padding: 0 25%; }

.adv__container {
  background-color: #fefefe;
  padding: 2rem 20%;
  display: flex;
  flex-direction: column; }

.adv__heading {
  text-align: center;
  padding: 2rem 0;
  text-transform: uppercase;
  color: #111111; }
.adv__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4rem 0; }
.adv__item {
  width: 45%;
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  justify-content: space-between; }
.adv__image {
  width: 100%; }
.adv__image-container {
  width: 30%; }
.adv__desc {
  width: 60%; }

.contact__container {
  background-color: #f37a85;
  padding: 2rem 20%;
  display: flex;
  flex-direction: column; }

.contact__heading {
  text-align: center;
  padding: 2rem 0;
  text-transform: uppercase;
  color: #fefefe; }

.contact__blurb {
  text-align: left;
  padding: 2rem 0;
  color: #fefefe; }

.home__container {
  background-color: #fefefe;
  min-height: 100%; }

.home__text {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 40%;
  text-align: center; }

.involve__container {
  background-color: #f37a85;
  padding: 2rem 20%;
  display: flex;
  flex-direction: column; }

.involve__heading {
  text-align: center;
  padding: 2rem 0;
  text-transform: uppercase;
  color: #fefefe; }

.involve__blurb {
  text-align: left;
  padding: 2rem 0;
  color: #fefefe; }

.involve__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.involve__item {
  width: 25%; }

.involve__button {
  width: 100%;
  font-size: 1rem; }

.mission__container {
  background-color: #fefefe;
  min-height: 100%; }

.mission__text {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 40%;
  text-align: center; }

.nav {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .nav__left {
    width: 5%;
    margin-left: 2%; }
  .nav__logo-image {
    width: 100%; }
  .nav__right {
    margin-right: 2%;
    width: 50%; }
  .nav__list {
    display: flex;
    list-style: none;
    justify-content: flex-end; }
  .nav__list-item {
    margin-left: 5%; }

.pitch__container {
  background-color: #79edd6;
  display: flex;
  flex-direction: column;
  padding-top: 2rem; }

.pitch__heading {
  text-align: center;
  padding: 2rem 0;
  text-transform: uppercase;
  color: #fefefe; }

.pitch__video-container {
  width: 100%;
  padding: 2rem 0;
  background-color: #fefefe; }

.pitch__video {
  display: flex;
  max-width: 80%;
  margin: 0 auto; }

.pitch__features {
  width: 100%; }

.features__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }

.feature {
  width: 20%;
  padding: 2rem 0; }
  .feature__image {
    width: 100%;
    background-color: #fefefe;
    border-radius: 50%; }
  .feature__desc {
    text-align: center; }

.team__container {
  background-color: #79edd6;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem; }

.team__heading {
  text-align: center;
  padding: 2rem 0;
  text-transform: uppercase;
  color: #fefefe; }

.team__members {
  width: 100%; }

.member__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }

.member {
  width: 25%;
  padding: 2rem 0; }
  .member__image {
    width: 100%;
    background-color: #fefefe;
    border-radius: 50%; }
  .member__name {
    text-align: center; }
  .member__title {
    text-align: center; }

/*# sourceMappingURL=app.css.map */
