.contact__container {
  background-color: $light-red;
  padding: $gap-medium 20% ;
  display: flex;
  flex-direction: column;
}

.contact__heading {
  text-align: left;
  padding-top: $gap-medium;
  padding-bottom: $gap-small;
  font-size: 2rem;
  font-weight: 300;
  color: $white;
}

.contact__blurb {
  text-align: left;
  padding: $gap-medium 0;
  color: $white;
}
