.involve__container {
  background-color: $dark-grey;
  display: flex;
  flex-direction: column;
}

.involve__heading {
  justify-content: flex-start;
  padding-top: $gap-medium;
  padding-bottom: $gap-small;
  font-size: 2rem;
  font-weight: 300;
  color: $white;
  width: 100%;
}

.involve__blurb {
  text-align: left;
  padding: $gap-small 0;
  color: $white;
}

.involve__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $gap-medium 0;
}

.involve__item {
  width: 30%;
}

.involve__button {
  width: 100%;
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: $grey;
  background-color: $white;
  height: 5rem;
}
