.mission__container {
  background-color: $white;
  min-height: 100%;
}
.mission__text {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 40%;
  text-align: center;
  &-heading {
    margin: $gap-small 0;
    font-size: 2rem;
    font-weight: 300;
  }
  &-desc {
    font-size: 1.2rem;
    line-height: 2rem;
    margin: $gap-small 0;
  }
}
