.nav {
  &__container {
    background: $dark-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $nav-height;
    padding: 0  $md-padding;
  }
  &__items {
    list-style: none;
  }
  &__item {
    &-link {
      color: $light-gray;
      text-decoration: none;
      margin: 0 $md-margin;

    }
    &-logo {
      height: $nav-height/2;
    }
  }

}
