.team__container {
  background-color: $light-green;
  display: flex;
  flex-direction: column;
}
.team__heading {
  text-align: center;
  padding: $gap-medium 0;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}
.team__members {
  width: 100%;
}
.member__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.member {
  width: 25%;
  padding: $gap-medium 0;
  &__image {
    width: 100%;
    background-color: $white;
    border-radius: 50%;
  }
  &__name {
    text-align: center;
  }
  &__title {
    text-align: center;
  }
}
