//colors
$green: #189888;
$light-green: #a3cec8;
$dark-gray: #01151E;
$gray: #B1B1B1;
$light-gray: #F0F0F0;
$lightest-gray: #FAFAFA;
$white: #FFFFFF;
$black: #000000;

$tab-blue: #006B99;
$tab-pink: #970075;
$tab-yellow: #FFD210;

//height
$nav-height: 3.2rem;

//margins and paddings
$sm-padding: 0.5rem;
$md-padding: 1rem;
$md-padding-px: 20px;
$lg-padding: 1.5rem;
$pg-padding: 3rem;

$sm-margin: 0.5rem;
$md-margin: 1rem;
$lg-margin: 1.5rem;
$pg-margin: 15%;

$border-size: 1px;
$border-radius: 5px;
$border-nav: 20px;

//font-size
$h1-size: 3.2rem;
$h2-size: 1.2rem;
$p-size: 0.8rem;

//font
$mont: 'Montserrat', sans-serif;
